

.checkout-btn {
  padding: 10px 20px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
}

.result {
  margin-top: 20px;
}

.error {
  color: red;
  margin-top: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.input-field {
  margin-bottom: 10px;
  padding: 5px;
  width: 200px;
}

.submit-btn {
  padding: 10px 20px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

h1,
h2 {
  margin-bottom: 20px;
}

.coupon-codes li{


  
}

.del-coupon{
  margin-left: 20px;
  background-color: red;
  cursor: pointer;
}